

body {
    font-family: var(--font-main);
    font-weight: 400;
    margin: 0 auto;
    background-image: url(../images/background/background_mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    body {
        background-image: url(../images/background/background_mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(../images/background/background_tablet.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        body {
            background-image: url(../images/background/background_tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../images/background/background_desktop.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        body {
            background-image: url(../images/background/background_desktop@2x.jpg);
        }
    }
}

* {
    cursor: url(../images/cursor.png) ,pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



