.advantages {
    background-color: var(--color-backgraund);

    padding-top: 50px;
    padding-bottom: 32px;
}

.advantages-set {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 28px;

}

.advantages-item {
    width: 230px;

    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 16px;

}


.advantages-icon {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: var(--color-brand);

    padding: 7px;

}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-title);
}

.advantages-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    text-align: center;

    color: var(--color-title);
}


@media screen and (min-width: 480px) {
    .advantages {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .advantages {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .advantages-set {
        // width: 152px;

        display: flex;
        flex-direction: row;
        align-items: center;
    
        gap: 80px;
    
    }

    .advantages-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.74;
    }

}

@media screen and (min-width: 1200px) {
    .advantages {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .advantages-set {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .advantages-item {
        width: 368px;
        gap: 0;

    }

    .advantages-icon {
        margin-bottom: 40px;
    }

    .advantages-title {
        font-size: 58px;
        line-height: 1.22;
        margin-bottom: 12px;
    }

    .advantages-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.76;
        
    
    }
}