.advantages {
    background-color: var(--color-backgraund);
}

.advantages-set {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 28px;

}

.advantages-item {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 16px;

}


.advantages-icon {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: var(--color-brand);

    padding: 7px;

}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-title);
}

.advantages-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    text-align: center;

    color: var(--color-title);
}


@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {
    .advantages-set {
        display: flex;
        flex-direction: row;

    }

    .advantages-title {
        font-size: 58px;
        line-height: 1.22;
    }

    .advantages-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.76;
    }
}