@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}