.contacts {
    background: linear-gradient(0deg, rgb(132, 161, 120, 1) 75%, rgb(255, 255, 255, 0) 75%);
}
.contacts-box {
    background: linear-gradient(0deg, rgb(132, 161, 120,1) 75%, rgb(255, 255, 255,0) 75%);
    padding-left: 20px;
    padding-right: 20px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.contacts-item {
    display: block;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 36px 24px 32px;
    width: 280px;
    height: auto;
}

.contacts-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #131313;
    background-color: var(--color-logo);
    width: 80px;
    height: 16px;
    border-radius: 4px;    
    padding: 4px 22px;


}

.contacts-text.two {
    width: 130px;
}

.contacts-mark {
    margin-top: 20px;
    margin-bottom: 8px;
}

.contacts-link-map {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;    
    color: #D6936D;
}

.contacts-link-map::after {
    content: "";
    display: block;
    border: 1px solid #E1E1E1;
    margin-top: 24px;
    margin-bottom: 24px;

}

.contacts-text-day {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #131313;
}

.contacts-text-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ABABAB;
}

.contacts-weekdays {
    margin-bottom: 8px;
}

.contacts-weekend::after {
    content: "";
    display: block;
    border: 1px solid #E1E1E1;
    margin-top: 24px;
    margin-bottom: 24px;
}

.contacts-link-tel,
.contacts-link-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #131313;
}

// ------------BUTTON--------------
.contacts-list-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-item-button {
    width: 196px;
    color: #000;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
}

.cont-btn-one {
    margin-bottom: 16px;
    background: var(--color-logo);
}

.cont-btn-two {
    background: #84A178;
    border: 2px solid #F8D24E;
}

@media screen and (min-width: 480px) {
    .contacts-box {
        padding-left: 100px;
        padding-right: 100px;
    }
    .contacts-link-map::after {
        content: "";
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px) {
    .contacts-box {
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgb(132, 161, 120, 1) 60%, rgb(255, 255, 255, 0) 60%);
        padding-left: 32px;
        padding-right: 32px;
    }

    .contacts-link-map::after {
        content: "";
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;
    }

    .contacts-item {
        width: 224px;
        padding: 40px 24 40px 24px;
    }

    .contacts-mark {
        margin-top: 32px;
        margin-bottom: 12px;
    }
    

    .contacts-link-map {
        margin-bottom: 32px;
    }

    .contacts-link-map::after {
        content: "";
        margin-top: 32px;
}

    .contacts-weekend::after {
        content: "";
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-list {
        display: flex; 
    }

    .contacts-item {
        width: 368px;
        padding: 40px;
    }

        .contacts-mark {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .conacts-wekdays {
        margin-bottom: 12px;
    }
}