
.footer { 
    background-color: #84A178; } 

.footer-container { 
    padding-top: 60px; }


.footer-text-wrapper { 
    text-align: start; margin-bottom: 60px; 
} 

.footer-lable {
margin-bottom: 16px; 
width: 232px; 
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 700; 
font-size: 18px; 
line-height: 22px; 
text-transform: uppercase; 
color: #FCFCFC; 
} 

.footer-title { 
    width: 200px; 
    font-family: 'Montserrat'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 34px;
line-height: 41px; 
letter-spacing: 0.04em; 
text-transform: uppercase; 
color:#FCFCFC; 

} 


.footer-contact-wrapper { 
    
display: flex; 
flex-direction: column;
align-items: flex-end; 
margin-bottom: 40px; } 


.footer-social { 
    margin-bottom: 20px; 
} 

.footer-social-list { display: flex; gap: 20px; } 


.footer-soclink {

fill: #84A178; 
transform: scale(1); 
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
} 

.footer-socitem {
fill: inherit; 
} 

.footer-socitem:hover, 
.footer-socitem:focus { 
    fill: #FCFCFC;
 }


.footer-soclink:hover, 
.footer-soclink:focus { 
    transform: scale(1.5); 
}


.footer-tel-wrapper { 
    display: flex; 
    justify-content: right; 
} 

.footer-tel-text
{ 
    margin-right: 5px; 
    text-decoration: none; 
    font-family: 'Montserrat';
font-style: normal; 
font-weight: 700; font-size: 12px; 
line-height: 186%;
text-align: right; 
color: #131313; 
} 


.footer-tel { 
    font-family: 'Montserrat';
font-style: normal; 
font-weight: 700; 
font-size: 12px; 
line-height: 186%;
text-align: right; 
color: #FCFCFC; 
} 


.copyright { 
    display: flex;
justify-content: center; 
border-top: 1px solid #E1E1E1; 

} 


.copyright-text {
margin-top: 20px; 
margin-bottom: 20px; 
width: 150px; 
font-family: 'Montserrat';
font-style: normal; 
font-weight: 700; 
font-size: 14px; 
line-height: 152%;
text-align: center; 
color: #7A7A7A; 
} 


@media screen and (min-width: 480px) {

.footer-container { 
    padding-top: 60px; 
} 

.footer-text-wrapper { 
    text-align:
start; 
margin-bottom: 60px; } 

.footer-lable { 
    margin-bottom: 16px; 
    width: 232px;
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 700; 
font-size: 18px; 
line-height: 22px; 
text-transform: uppercase; 
color: #FCFCFC; }


.footer-title { 
    width: 200px; 
    font-family: 'Montserrat'; 
    font-style: normal;
font-weight: 700; 
font-size: 34px; 
line-height: 41px; 
letter-spacing: 0.04em;
text-transform: uppercase; 
color: #FCFCFC; } 

.footer-contact-wrapper { 
    display: flex; 
justify-content: end; 
margin-bottom: 40px; } 

.footer-social { 
    display: flex; 
    gap: 20px; 
    margin-bottom: 20px; } 


.footer-social-list { 
    display: flex;
gap: 20px; } 

.footer-tel-wrapper { 
    display: flex; 
    justify-content: right; }


.footer-tel-text { 
    margin-right: 5px; 
    text-decoration: none; 
    font-family:
'Montserrat'; font-style: normal; font-weight: 700; font-size: 12px;
line-height: 186%; text-align: right; color: #131313; } 


.footer-tel {
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 700; 
font-size: 12px; 
line-height: 186%; 
text-align: right; color: #FCFCFC; } 

.copyright {
display: flex; 
justify-content: center; 
border-top: 1px solid #E1E1E1; }


.copyright-text { 
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 150px;
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 700; 
font-size: 14px; 
text-align: 
center; color: #7A7A7A; 


} } 



@media screen and (min-width:
768px) { 
    
    
    .footer-container { 
        padding-top: 40px; } 


.footer-desktop-wrapper {
display: flex; 
justify-content: space-between; } 


.footer-text-wrapper {
margin-bottom: 32px; 
} 

.footer-lable { 
    margin-bottom: 8px; 
    width: 352px;
font-size: 26px; 
line-height: 32px; } 

.footer-title { 
    width: 352px; 
    font-size: 48px; line-height: 59px; 
} 

.footer-contact-wrapper { 
    margin-top: 61px;
margin-bottom: 60px; } 

.footer-social { 
    gap: 30px; 
    margin-bottom: 34px; }

.footer-tel-text { 
    font-size: 14px; } 

.footer-tel { 
    font-size: 14px;
line-height: 186%; } 

.copyright { 
    display: flex; 
    justify-content: center;
border-top: 1px solid #E1E1E1; } 


.copyright-text { 
    margin-top: 20px;
margin-bottom: 20px; 
width: 300px; 
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 700; 
font-size: 14px; 
text-align: center; 
color: #7A7A7A; 

}
}



@media screen and (min-width: 1200px) { 
    
    .container { width: 1160px; }


.footer-container { 
    padding-top: 120px; /* padding-bottom: 60px; */ 
}

.footer-text-wrapper { 
    margin-bottom: 60px; } 

.footer-lable { 
    margin-bottom:
14px; width: 504px; 
font-weight: 400; 
font-size: 30px; 
line-height: 37px;
letter-spacing: 0.04em; 
} 

.footer-title { 
    width: 520px; 
    font-weight: 700;
font-size: 58px; 
line-height: 71px; 
letter-spacing: 0.06em; }

.footer-contact-wrapper { margin-top: 18px; } 

.footer-social { margin-bottom: 40px; } 

.footer-tel-text { font-size: 16px; } 

.footer-tel { font-size: 16px; } 

}
