@keyframes slide_3 {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_2 {
  0% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.gallery {
  margin-bottom: 80px;
}

.gallery-block {
  position: relative;
  margin-top: -36px;
  height: 204px;
}

.gallery-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  width: 100%;
  max-width: 404px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.gallery-item:nth-child(3) {
  animation: slide_3 12s infinite ease-in-out;
}

.gallery-item:nth-child(2) {
  animation: slide_2 12s infinite ease-in-out;
}

.gallery-img {
  height: 204px;
  width: auto;
  max-width: none;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 100px;
  }

  .gallery-block {
    height: 327px;
    margin-top: -98px;
  }
  
  .gallery-item {
    max-width: 704px;
    border-radius: 18px;
  }

  .gallery-img {
    height: 327px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-bottom: 140px;
  }

  .gallery-block {
    height: 422px;
  }

  .gallery-item {
    max-width: 1013px;
    border-radius: 24px;
  }

  .gallery-img {
    height: 422px;
  }
}