.swiper-slide{
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    font-family: inherit;
}
.mySwiper{
    top:-86px;
    border-radius: 24px;
}

@media screen and (min-width: 768px){
.swiper-slide{
    max-width: 705px;
}
.mySwiper{
    top:-36px;
    border-radius: 8px;
   } 
}

@media screen and (min-width:1200px) {
.swiper-slide {
    max-width: 968px;
    }
.mySwiper{
    top:-86px;
    border-radius: 24px;
}
}
