.hero {
   background-color: var(--color-backgraund-dark);
   padding: 50px 20px 0;
}

.hero-title {
   width: 247px;
   margin-bottom: 32px;

   color: var(--color-title);
   font-family: var(--font-logo);
   font-weight: 400;
   font-size: 26px;
   line-height: 1.27;
   letter-spacing: 0.04em;
   text-transform: uppercase;
}
.hero-title-passion {
   font-size: 34px;
   line-height: 0.97;
}

.hero-products-button {
   width: 108px;
   height: 38px;
   margin-right: 12px;

   background: none;
   color: #000;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   border: 2px solid var(--color-logo);
   border-radius: 8px;
}

.hero-instruction-link {
   color: var(--color-logo);
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
   .image-and-text-arrow,
   .cafes-and-trucks {
      display: none;
   }
}