// Загальний клас для секції 'hero'
.align-center {
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.hero {
   background-color: var(--color-backgraund-dark);
}
.hero-container {
   position: relative;
   padding-top: 50px;
   padding-bottom: 237px;
   background-image: url(../images/hero/dots-mobile-320.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}
   @media screen and (min-device-pixel-ratio: 2),
   screen and (min-resolution: 192dpi),
   screen and (min-resolution: 2dppx) {
      .hero-container {
      background-image: url(../images/hero/dots-mobile-320@2x.png);
   }
}

.hero-title {
   width: 247px;
   margin-bottom: 32px;

   color: var(--color-title);
   font-family: var(--font-logo);
   font-weight: inherit;
   font-size: 26px;
   line-height: 1.27;
   letter-spacing: 0.04em;
   text-transform: uppercase;
}
.hero-title_passion {
   font-size: 34px;
   line-height: 0.97;
}

.hero-products {
   width: 108px;
   height: 38px;
   margin-right: 12px;

   color: inherit;
   font-weight: 600;
   line-height: 1.25;
   border: 2px solid var(--color-brand);
   border-radius: 8px;
   transition: transform 350ms cubic-bezier(.4, -.74, .48, 1.53), border-color 350ms cubic-bezier(.4, -.74, .48, 1.53);
}
.hero-products:hover {
   transform: scale(1.1);
   border-color: #0A8817;
}

.hero-instruction {
   width: 100px;
   height: 24px;

   color: var(--color-brand);
   font-weight: 600;
   line-height: 1.25;
   text-decoration-line: underline;
   border: none;
   transition: transform 350ms cubic-bezier(.4, -.74, .48, 1.53), color 350ms cubic-bezier(.4, -.74, .48, 1.53);
}
.hero-instruction:hover {
   transform: scale(1.1);
   color: rgb(232, 85, 232);
}

.hero-plate-image-and-text-with-arrow,
.hero-cafes-and-food-trucks {
   display: none;
}

.hero-trio-image {
   position: absolute;
   // щоб жовті точки не заходили на картинку (морозиво в стаканчику)
   z-index: 1;
   right: 60px;
   bottom: 0;
   transition: transform 350ms cubic-bezier(.4, -.74, .48, 1.53);
}
.hero-trio-image:hover {
   transform: scale(1.05);
}

@media screen and (min-width: 480px) {
   .hero-container {
      padding-top: 40px;
      padding-bottom: 150;
      background-image: url(../images/hero/dots-mobile-480.png);
   }
   @media screen and (min-device-pixel-ratio: 2),
   screen and (min-resolution: 192dpi),
   screen and (min-resolution: 2dppx) {
      .hero-container {
         background-image: url(../images/hero/dots-mobile-480@2x.png);
      }
   }
   .hero-products {
      margin-bottom: 0;
   }
   .hero-trio-image {
      right: 20px;
   }
}

@media screen and (min-width: 768px) {
   .hero-container {
      padding-top: 14px;
      padding-bottom: 12px;
      background-image: url(../images/hero/dots-tablet.png);
      background-position: right bottom;
   }
   @media screen and (min-device-pixel-ratio: 2),
   screen and (min-resolution: 192dpi),
   screen and (min-resolution: 2dppx) {
      .hero-container {
         background-image: url(../images/hero/dots-tablet@2x.png);
      }
   }
   .hero-title {
      margin-bottom: 24px;
   }
   .hero-products {
      margin-bottom: 12px;
   }
   .hero-instruction {
      width: 114px;
   }
   .hero-plate-image-and-text-with-arrow {
      display: flex;
      align-items: center;
      column-gap: 32px;
   }
   .hero-plate-image {
      // щоб жовті точки не заходили на тарілку
      z-index: 1;
      transition: transform 350ms cubic-bezier(.4, -.74, .48, 1.53);
   }
   .hero-plate-image:hover {
      transform: rotate(90deg);
   }
   .hero-text-with-arrow {
      padding-top: 35px;
   }
   .hero-text {
      width: 139px;
      margin-bottom: 12px;

      color: var(--color-title);
      line-height: 1.42;
   }
   .hero-arrow {
      display: block;
      transition: transform 300ms cubic-bezier(.4, -.74, .48, 1.53), fill 300ms cubic-bezier(.4, -.74, .48, 1.53);
   }
   .hero-arrow:hover,
   .hero-arrow:focus {
      transform: translateX(10px);
      fill: #0A8817;
   }
   .hero-arrow-icon {
      width: 40px;
      height: 16px;
      fill: var(--color-title);
   }
   .hero-trio-image {
      right: 92px;
   }
   .hero-cafes-and-food-trucks {
      display: block;
      position: absolute;
      right: 32px;
      top: 28px;
   }
   .hero-cafes-box {
      margin-bottom: 20px;
   }
   .hero-numbers {
      margin-bottom: 4px;

      font-weight: 900;
      font-size: 28px;
      line-height: 1.21;
      text-align: right;
      letter-spacing: 0.04em;
      transition: transform 550ms cubic-bezier(.4, -.74, .48, 1.53);
   }
   .hero-cafes-box:hover .hero-numbers,
   .hero-food-trucks-box:hover .hero-numbers {
      transform: rotate(360deg);
   }
   .hero-numbers-title {
      color: var(--color-title);
      font-size: 8px;
      line-height: 1.25;
      text-align: right;
   }
}

@media screen and (min-width: 1200px) {
   .hero-container {
      padding-top: 45px;
      padding-bottom: 65px;
      background-image: url(../images/hero/dots-desktop.png);
   }
   @media screen and (min-device-pixel-ratio: 2),
   screen and (min-resolution: 192dpi),
   screen and (min-resolution: 2dppx) {
      .hero-container {
         background-image: url(../images/hero/dots-desktop@2x.png);
      }
   }
   .hero-title {
      width: 367px;
      font-size: 38px;
      line-height: 1.26;
      margin-bottom: 28px;
   }
   .hero-title_passion {
      font-size: inherit;
   }
   .hero-products {
      width: 134px;
      height: 42px;
      margin-bottom: 42px;

      font-size: 14px;
      line-height: 1.29;
   }
   .hero-products:focus {
      border-color: #0A8817;
      color: var(--color-title);
   }
   .hero-instruction {
      width: 154px;
      height: 40px;

      font-size: 14px;
      line-height: 1.21;
   }
   .hero-plate-image-and-text-with-arrow {
      column-gap: 16px;
   }
   .hero-plate-image {
      // ставим по дефолтну, так як на десктопі ця властивість не потрібна
      z-index: initial;
   }
   .hero-text {
      width: 200px;
      margin-bottom: 24px;

      font-size: 14px;
      line-height: 1.43;
   }
   .hero-cafes-and-food-trucks {
      right: 16px;
      top: 53px;
   }
   .hero-cafes-box {
      margin-bottom: 16px;
   }
   .hero-numbers {
      font-size: 46px;
      line-height: 1.22;
   }
   .hero-numbers-title {
      font-size: 14px;
      line-height: 1.21;
   }
}