.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*================= MODAL WINDOW =================*/

.modal-ingredients {
  opacity: 0;
  visibility: hidden;

  overflow-y: scroll;
  overflow-x: hidden;

  width: 100vw;
  max-width: 280px;
  height: 100vh;
  max-height: 968px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-top: 28px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background-color: #fff;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-ingredients.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/*================= MODAL-WINDOW CLOSE BTN =================*/

.modal-winwod-close-btn {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 15px;
}
.modal-winwod-close-btn-icon {
  fill: #131313;
}

.modal__title {
  position: relative;
  margin-bottom: 24px;
  font-family: var(--font-logo);
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-text);
}
.product-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  border-radius: 50%;
}
.img-wrapper {
  position: relative;
  z-index: 29;
}
.img-wrapper::after {
  z-index: -10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-66px, -59px);
  content: '';
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: #9cbe8f;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.ice-cream-ingredients-list {
  display: grid;
  grid-template-columns: 53px 53px 53px 53px;
  grid-column-gap: 9px;
  margin-bottom: 40px;
}
.ice-cream-ingredients-list-item {
  position: relative;
  display: grid;

  max-width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}
.ingredients-list-upper-elements {
  margin-top: 8px;

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: var(--color-text);
}
.ice-cream-ingredients-list-item::before {
  z-index: -1;
  position: absolute;
  content: '';
  width: 43px;
  height: 43px;
  top: 0;
  right: 3px;
  background-color: #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.ingredients-list-lower-elements {
  font-family: var(--font-main);
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-text);
}
.product-ingredients-header {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-text);
  margin-bottom: 24px;
}
/*================= PRODUCTS-TABLE =================*/

.product-ingredients {
  width: 240px;
}
.product-ingredients-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.product-ingredients-row.last {
  margin-bottom: 40px;
}

/*================= SUBMIT-FORM =================*/

.modal-window-input-field {
  width: 240px;
  height: 42px;

  padding-top: 11px;
  padding-left: 11px;
  padding-bottom: 11px;

  margin-bottom: 16px;

  border: 1px solid;
  border-color: var(--color-backgraund);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-window-submit-form {
  display: flex;
  flex-direction: column;
}

.modal-window-input-field:focus {
  outline: none;
  border-color: var(--color-brand);
}

.modal-window-input-field::placeholder {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-text);
}
.modal-window-input-field.user-message {
  width: 240px;
  height: 84px;
  margin-bottom: 24px;
  resize: none;
}

/*================= SUBMIT-BUTTON =================*/
.modal-form-submit-btn {
  display: block;
  max-width: 132px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  margin-right: auto;
  margin-left: auto;

  background: #f8d24e;
  border-radius: 10px;
  border-color: transparent;

  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #131313;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-btn:hover {
  background: #0a8817;
  color: #000;
}

.modal-form-submit-btn:focus {
  outline: none;
  background: #0a8817;
  color: #fff;
}

@media screen and (max-width: 479px) {
  .modal-window-input-field {
    width: 100%;
  }
  .modal-window-input-field.user-message {
    width: 100%;
  }

  .product-ingredients {
    width: 100%;
  }
}
/*================= DESKTOP VERSION =================*/
@media screen and (min-width: 1200px) {
  .product-ingredients-header {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text);
    margin-bottom: 24px;
  }
  .modal-ingredients {
    max-height: 996px;
    max-width: 568px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .img-wrapper::after {
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-66px, -59px);
    content: '';
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: #9cbe8f;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }
  .ice-cream-ingredients-list {
    display: grid;
    justify-content: center;

    grid-template-columns: 65px 65px 65px 65px;
    grid-column-gap: 20px;
    margin-bottom: 48px;
  }

  .product-ingredients {
    width: 488px;
  }
  .product-ingredients-row.last {
    margin-bottom: 48px;
  }
  .modal-window-input-field {
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    padding-left: 16px;
    margin-bottom: 16px;
  }
  .modal-window-input-field.user-message {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
  }
  .modal-form-submit-btn {
    max-width: 121px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

/*================= BUY NOW MODAL WINDOW =================*/
.modal-buy {
  opacity: 0;
  visibility: hidden;

  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 991px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 29px;
  padding-top: 28px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background-color: #fff;
  transition: opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier);
}

.modal-buy.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/*================= MODAL-WINDOW CLOSE BTN =================*/

.modal-window-close-btn {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 15px;
}
.modal-window-close-btn-icon {
  fill: #131313;
}

.modal-buy-mow-header {
  display: block;
  margin-bottom: 83px;

  font-family: var(--font-logo);

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.modal-window-purchase-item {
  position: relative;

  width: 132px;
  height: 136px;
  margin-bottom: 82px;
  border: 2px solid;
  border-radius: 15px;
  padding-top: 96px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--font-main);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--color-text);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-purchase-item-photo {
  border-radius: 50%;
}

.modal-window-purchase-item.green {
  position: relative;
  z-index: 1;
  border-color: #96af8c;
}
.modal-window-purchase-item.green:hover {
  background: #96af8c;
}
.ice-cream-wrapper::after {
  content: '';
  z-index: -1;
  top: 0px;
  left: 0px;
  transform: translate(-2px, 5px);

  border-radius: 50%;
  position: absolute;
  width: 132px;
  height: 132px;
  background: #96af8c;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.modal-window-purchase-item.yellow {
  position: relative;
  z-index: 1;
  border-color: #efd478;
  /* background-color: #efd478; */
}

.modal-window-purchase-item.yellow:hover {
  background-color: #efd478;
}

.ice-coffee-wrapper::after {
  content: '';
  z-index: -1;
  top: 0px;
  left: 0px;
  transform: translate(-2px, 5px);

  border-radius: 50%;
  position: absolute;
  width: 132px;
  height: 132px;
  background: #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.modal-window-purchase-item.orange {
  position: relative;
  z-index: 1;
  border-color: #d6936d;
}
.modal-window-purchase-item.orange:hover {
  background: #d6936d;
}

.milkshake-wrapper::after {
  content: '';
  z-index: -1;
  top: 0px;
  left: 0px;
  transform: translate(-2px, 5px);

  border-radius: 50%;
  position: absolute;
  width: 132px;
  height: 132px;
  background: #d6936d;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.modal-window-purchase-item.last {
  margin-bottom: 32px;
}

.buy-now-item-wrapper {
  position: absolute;
  top: -63px;
  left: 0;
}

/*================= SUBMIT-FORM =================*/

.modal-window-buynow-input-field {
  width: 224px;
  height: 32px;

  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;

  margin-bottom: 12px;

  border: 1px solid;
  border-color: var(--color-backgraund);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-window-buy-now-form {
  display: flex;
  flex-direction: column;
}

.modal-window-buynow-input-field:focus {
  outline: none;
  border-color: var(--color-logo);
}

.modal-window-buynow-input-field::placeholder {
  font-family: var(--font-main);
  font-size: 12px;
  line-height: 1.4;
  color: var(--color-text);
}
.modal-window-buynow-input-field.user-comment {
  width: 224px;
  height: 65px;
  margin-bottom: 26px;
  resize: none;
}

/*================= SUBMIT-BUTTON =================*/
.modal-form-buy-now-submit-btn {
  display: inline-block;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;

  background: #f8d24e;
  border-radius: 10px;
  border-color: transparent;

  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-buy-now-submit-btn:hover {
  background: #0a8817;
  color: #000;
}

.modal-form-buy-now-submit-btn:focus {
  outline: none;
  background: #0a8817;
  color: #fff;
}

.modal-window-input-field:focus {
  outline: none;
  border-color: var(--color-brand);
}
.modal-window-buynow-input-field:focus {
  outline: none;
  border-color: var(--color-brand);
}

@media screen and (max-width: 479px) {
  .modal-window-buynow-input-field {
    width: 100%;
  }
  .modal-window-buynow-input-field.user-comment {
    width: 100%;
  }
}
/*================= DESKTOP VERSION =================*/
@media screen and (min-width: 1200px) {
  .modal-buy {
    overflow-y: hidden;
    max-width: 568px;
    max-height: 644px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 54px;
    padding-left: 54px;
  }
  .modal-buy-mow-header {
    font-size: 20px;
    line-height: 1.4px;
    margin-bottom: 103px;
  }
  .modal-window-purchase-item {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;
  }

  .modal-window-buynow-input-field {
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 16px;
  }
  .modal-window-buynow-input-field.user-comment {
    width: 368px;
    height: 65px;
    margin-bottom: 26px;
  }

  .modal-window-purchase {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .modal-window-purchase-item {
    margin-bottom: 40px;
  }
  .modal-form-buy-now-submit-btn {
    font-size: 14px;
    line-height: 1.2;
  }
}
