.products {
    text-align: center;
    margin: 60px 0;
}

.products-title {
    margin-bottom: 148px;
    text-transform: uppercase;
    color: var(--color-text);
    font-family: var(--font-logo);
    font-size: 30px;
    line-height: 1.27;
}

.products-label {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}

.products-card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 168px;
    position: relative;
    max-width: 280px;
    border-radius: 24px;
}

.products-card:last-of-type {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.products-card-first {
    background-color: var(--color-card-first);
}

.products-card-second {
    background-color: var(--color-card-second);
}

.products-card-third {
    background-color: var(--color-card-third);
}

.products-card-content {
    padding-top: 123px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.products-card-content::before,
.products-card-content::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.products-card-content-first::before {
    top: -110px;
    background-image: url('../images/products/products-pic1-200.jpg');
    z-index: 5;
}

.products-card-content-first::after {
    top: -97px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    z-index: 4;
}

.products-card-content-second::before {
    top: -110px;
    background-image: url('../images/products/products-pic2-200.jpg');
    z-index: 5;
}

.products-card-content-second::after {
    top: -97px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    z-index: 4;
}

.products-card-content-thirt::before {
    top: -110px;
    background-image: url('../images/products/products-pic3-200.jpg');
    z-index: 5;
}

.products-card-content-thirt::after {
    top: -97px;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

.products-card-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text);
}

.products-card-desc {
    margin-bottom: 53px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    color: var(--color-text);
    letter-spacing: 0.04em;
}

.products-card-btn {
    border: none;
    background: none;
    margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
    .products-title {
        margin-bottom: 145px;
    }

    .products-card {
        width: 250px;
    }

    .products-card-content {
        padding-top: 126px;
    }

    .products-card-content::before {
        top: -105px;
    }

    .products-card-content::after {
        top: -94px;
    }

    .products-card-desc {
        margin-bottom: 61px;
    }
}

@media screen and (min-width: 768px) {
    .products {
        margin-top: 58px;
    }

    .products-title {
        margin-bottom: 200px;
        font-size: 34px;
        line-height: 1.26;
    }

    .products-label {
        font-size: 22px;
    }

    .products-cards {
        display: flex;
    }

    .products-card {
        width: 224px;
        margin: 0 16px 0 0;
    }

    .products-card:last-of-type {
        margin: 0;
    }

    .products-card-content {
        padding-top: 108px;
    }

    .products-card-content::before {
        top: -120px;
    }
    .products-card-content::after {
        top: -108px;
    }

    .products-card-content-first::after {
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    .products-card-content-second::after {
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    .products-card-content-thirt::after {
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }

    .products-card-title {
        font-size: 22px;
        line-height: 1.2;
    }

    .products-card-desc {
        margin-bottom: 50px;
        width: 172px;
        margin-left: auto;
        margin-right: auto;
    }

    .products-card-btn {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .products-label {
        font-size: 30px;
        line-height: 1.23;
    }
    .products-title {
        margin-bottom: 303px;
        font-size: 36px;
        line-height: 1.25;
    }
    .products-card {
        max-width: 370px;
        width: 370px;
        margin-right: 29px;
    }
    .products-card-content {
        padding-top: 165px;
        width: 302px;
    }
        
    .products-card-content::before {
        top: -183px;
        width: 302px;
        height: 302px;
    }
    .products-card-content::after {
        top: -167px;
        width: 302px;
        height: 302px;
    }
    .products-card-content-first::before {
        background-image: url(../images/products/products-pic1-302.jpg);
    }
    .products-card-content-second::before {
        background-image: url(../images/products/products-pic2-302.jpg);
    }
    .products-card-content-thirt::before {
        background-image: url(../images/products/products-pic3-302.jpg);
    }
    .products-card-content-first::after {
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    
    }
    .products-card-content-second::after {
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    .products-card-content-thirt::after {
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
    .products-card-title {
        margin-bottom: 66px;
        font-size: 30px;
    }
    .products-card-desc {
        margin-bottom: 60px;
        width: 242px;
        font-size: 16px;
    }
}