<section class="advantages">
  <div class="advantages-container container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-set">
      <li class="advantages-item">
        <svg class="advantages-icon" width="36" height="36">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
        <h3 class="advantages-title">721</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <svg class="advantages-icon" width="36" height="36">
          <use href="./images/icons.svg#icon-weight"></use>
        </svg>
        <h3 class="advantages-title">16KG</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <svg class="advantages-icon" width="36" height="36">
          <use href="./images/icons.svg#icon-icecream"></use>
        </svg>
        <h3 class="advantages-title">84</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>