<div class="container advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantage-set list">
        <li class="advantage-item">
            <svg>
                <use></use>
            </svg>
            <h3>721</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage-item">
            <svg>
                <use></use>
            </svg>
            <h3>16KG</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage-item">
            <svg>
                <use></use>
            </svg>
            <h3>84</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>