<section class="contacts">
        <div class="container contacts-box">
            <h2 class="contacts-title visually-hidden">Contacts</h2>
            <ul class="contacts-list ">
                <li class="contacts-item contacts-item-minus">
                    <p class="contacts-text one">CAFE</p>
                        <div class="contacts-mark">Chicago</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/9SAYvNyNoztJENo17" target="_blank" rel="noopener noreferrer nofollow">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text two">FOODTRUCK</p>
                        <div class="contacts-mark">Los Angeles</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/xYQa9T6AT8GcHGKF7" target="_blank" rel="noopener noreferrer nofollow">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text three">CAFE</p>
                        <div class="contacts-mark">New York</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/SXbVq2XTBdsiyEw79" target="_blank" rel="noopener noreferrer nofollow">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
    </section>