<section class="contacts">
        <div class="container contacts-box">
            <h2 class="contacts-title visually-hidden">Contacts</h2>
            <ul class="contacts-list ">
                <li class="contacts-item contacts-item-minus">
                    <p class="contacts-text one">CAFE</p>
                        <div class="contacts-mark">Odessa</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/iyHZ29zVn9HSZC7R7" target="_blank" rel="noopener noreferrer nofollow">Sadova street, 17, Odessa, Odessa region, Ukraine, 65000</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380993633718">+380 99 363 37 18</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text two">Restaurant</p>
                        <div class="contacts-mark">Kiev</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/nFHpgmpynRdTDCA28" target="_blank" rel="noopener noreferrer nofollow">6D, Berkovetska street, Kiev, Ukraine, 04128</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380637000207">+380 63 700 02 07</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text three">CAFE</p>
                        <div class="contacts-mark">Kiev</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/zXSJPdzYu4TP4JJi9" target="_blank" rel="noopener noreferrer nofollow">Kostolna street, 6, Kiev, Ukraine, 01001</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380990551641">+380 99 055 16 41</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
            </ul>
            <ul class="contacts-list-button">
                <li>
                    <button class="contacts-item-button cont-btn-one" type="button">Our Locations</button>
                </li>
                <li>
                    <button class="contacts-item-button cont-btn-two" type="button">Franchise</button>
                </li>
            </ul>
        </div>
    </section>