<section class="contacts" id="contacts">
        <div class="contacts-container container">
            <h2 class="contacts-title visually-hidden">Contacts</h2>
            <ul class="contacts-list">
                <li class="contacts-item">
                    <p class="contacts-text one">cafe</p>
                        <div class="contacts-mark">Odessa</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/iyHZ29zVn9HSZC7R7" target="_blank" rel="noopener noreferrer nofollow">Sadova street, 17, Odessa, Odessa region, Ukraine, 65000</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380993633718">+380 99 363 37 18</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text two">restaurant</p>
                        <div class="contacts-mark">Kiev</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/wFS24yk34yZ7sQWSA" target="_blank" rel="noopener noreferrer nofollow">Vynogradar, 12 Vasyl Poryk Avenue, Kyiv, Ukraine, 02000</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380984825906">+380 98 482 59 06</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts-item">
                    <p class="contacts-text three">cafe</p>
                        <div class="contacts-mark">Lviv</div>
                        <a class="contacts-link-map" href="https://goo.gl/maps/zXSJPdzYu4TP4JJi9" target="_blank" rel="noopener noreferrer nofollow">Residential complex America, Yaneva street, 19, Lviv, Ukraine, 79026</a>
                        <div class="contacts-weekdays">
                            <p class="contacts-text-day">Monday - Friday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-weekend">
                            <p class="contacts-text-day">Saturday - Sunday</p>
                            <p class="contacts-text-time">06:00 AM - 10:00 PM</p>
                        </div>
                        <ul class="contacts-list-connect ">
                            <li class="contacts-item-tel">
                                <a class="contacts-link-tel" href="tel:+380965751638">+380 96 575 16 38</a>
                            </li>
                            <li class="contacts-item-mail">
                                <a class="contacts-link-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
            </ul>
            <ul class="contacts-list-button">
                <li>
                    <button class="contacts-item-button cont-btn-one js-open-modal" data-modal="4" type="button">Our Locations
                    <svg class="cont-btn-svg" width="12" height="12">
                        <use href="./images/icons.svg#icon-arrow-btn"></use>
                    </svg>
                    </button>
                </li>
                <li>
                    <button class="contacts-item-button cont-btn-two" type="button">Franchise
                    <svg class="cont-btn-svg" width="12" height="12">
                        <use href="./images/icons.svg#icon-arrow-btn"></use>
                    </svg>
                    </button>
                </li>
            </ul>
        </div>
    </section>