<section>
  <div class="customers container">
    <div class="customers-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img src="./images/customer-1.jpg" alt="customer" />
          </div>
          <div class="customer-body">
            I love visiting your cafe. You prepare the most delicious ice cream in
            Los Angeles! In addition, you have beautiful serving, cozy atmosphere
            and polite staff.
          </div>
          <div class="customer-author">Emily, Los Angeles</div>
        </div>
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img src="./images/customer-2.jpg" alt="customer" />
          </div>
          <div class="customer-body">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <div class="customer-author">Bryan, New-York</div>
        </div>
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img src="./images/customer-3.jpg" alt="customer" />
          </div>
          <div class="customer-body">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And
            I really like the excellent service - always served politely and
            quickly!
          </div>
          <div class="customer-author">Diana, Chicago</div>
        </div>
      </div>
  
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
