<section>
  <div class="customers container">
    <div class="customers-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img
              srcset="./images/customers/customer-1.jpg x1, ./images/customers/customer-1@2x.jpg x2"
              src="./images/customers/customer-1.jpg"
              width="85"
              alt="customer"
            />
          </div>
          <div class="customer-body">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Odessa! In addition, you have beautiful serving, cozy atmosphere
            and polite staff.
          </div>
          <div class="customer-author">Anna, Odessa</div>
        </div>
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img
              srcset="./images/customers/customer-2.jpg x1, ./images/customers/customer-2@2x.jpg x2"
              src="./images/customers/customer-2.jpg"
              width="85"
              alt="customer"
            />
          </div>
          <div class="customer-body">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <div class="customer-author">Maksym, Kiev</div>
        </div>
        <div class="swiper-slide customer-item">
          <div class="customer-view">
            <img
              srcset="./images/customers/customer-3.jpg x1, ./images/customers/customer-3@2x.jpg x2"
              src="./images/customers/customer-3.jpg"
              width="85"
              alt="customer"
            />
          </div>
          <div class="customer-body">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </div>
          <div class="customer-author">Maryna, Kiev</div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
