<footer class="footer">
  <div class="container footer-container">
    <div class="footer-desktop-wrapper">
      <div class="footer-text-wrapper">
        <p class="footer-lable">homemade ice cream made</p>
        <p class="footer-title">with passion</p>
      </div>

      <div class="footer-contact-wrapper">
        <div class="footer-social">
          <ul class="footer-social-list">
            <li>
              <svg width="34px" height="34px">
                <use href="./images/icons.svg#icon-github1"></use>
              </svg>
            </li>
            <li>
              <svg width="34px" height="34px">
                <use href="./images/icons.svg#icon-telegram1"></use>
              </svg>
            </li>
            <li>
              <svg width="34px" height="34px">
                <use href="./images/icons.svg#icon-facebook1"></use>
              </svg>
            </li>
          </ul>
        </div>

        <div class="footer-tel-wrapper">
          <p class="footer-tel-text">Feel free to contact</p>
          <a class="footer-tel lineout" href="tel:0383766284">
            +61 (0) 383 766 284
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p class="copyright-text">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
