<footer>
  <div class="container footer">
    <div class="footer-text-wrapper">
      <p class="footer-lable">homemade ice cream made</p>
      <p class="footer-title">with passion</p>
    </div>

    <div class="footer-social-wrapper">
      <ul class="footer-social">
        <li>
          <svg width="34px" height="34px">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg width="34px" height="34px">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg width="34px" height="34px">
            <use href=""></use>
          </svg>
        </li>
      </ul>
    </div>

    <div class="footer-tel-wrapper">
      <p class="footer-tel-text">Feel free to contact</p>
      <a class="footer-tel" href="tel:610383766284"> +61 (0) 383 766 284 </a>
    </div>
  </div>

  <div class="copyright">
    <p class="copyright-text">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
