
<div class="gallery">
    <div class="container">
        <div class="swiper-slide mySwiper">
            <div class="swiper-wrapper">
                <!-- Slide-1 -->
                <div class="swiper-slide">
                    <img srcset="./images/gallery/manyIcecream.jpg x1, ./images/gallery/manyIcecream@2x.jpg x2" 
                    src="/src/images/gallery/manyIcecream.jpg" alt="manyIcecream">
                </div>
            </div>
            <div class="swiper-wrapper">
                <!-- Slide-2 -->
                <div class="swiper-slide">
                    <img srcset="./images/gallery/fruitIcecream.jpg x1, ./images/gallery/fruitIcecream2x.jpg x2"
                        src="/src/images/gallery/fruitIcecream.jpg" alt="fruitIcecream">
                </div>
            </div>
            <!-- Slide-3 -->
            <div class="swiper-slide">
                <img srcset="./images/gallery/variousIcecreams.jpg x1, ./images/gallery/variousIcecreams@2x.jpg x2"
                    src="/src/images/gallery/variousIcecreams.jpg" alt="variousIcecreams">
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>