<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo">
                <a href="#" class="logo-link">
                    <svg class="logo-icon">
                        <use href="/src/images/icons.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="./" class="menu-link">
                            Home
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#about" class="menu-link">
                            How it’s made?
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#products" class="menu-link">
                            Our products
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#contacts" class="menu-link">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu-inner-btn">
                <button class="menu-button" type="button" data-mobile-open>
                    <svg height="32" width="32">
                        <use href="./images/icons.svg#icon-menu"></use>
                    </svg>
                </button>
                <div class=" menu-button-desctop">
                    <a class="button m-0 js-open-modal" data-modal="2">
                        Buy now
                        <svg width="6" height="10" class="button-arrow">
                            <use href="./images/icons.svg#icon-vector"></use>
                        </svg>

                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="mobile-menu is-hidden" data-mobile>
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <a href="#" class="logo-link">
                        <svg height="40" width="37">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                </div>
                <nav>
                    <button class="menu-button" type="button" data-mobile-close>
                        <svg class="icon-close-btn" height="20" width="20">
                            <use href="./images/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </nav>
            </div>
        </div>

        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#">
                    Home
                </a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#about">
                    How it’s made?
                </a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#products">
                    Our products
                </a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#contacts">
                    Contacts
                </a>
            </li>
        </ul>


        <div class="mobile-button">
            <a class="button js-open-modal" data-modal="2">
                Buy now
                <svg width="6" height="10" class="button-arrow">
                    <use href="./images/icons.svg#icon-vector"></use>
                </svg>
            </a>
        </div>

    </div>
</header>