<section class="hero">
   <div class="hero-container container">
      <!-- hero-title -->
      <h1 class="hero-title">ice cream
         made with
         <span class="hero-title-passion">passion</span>
      </h1>
      <button class="hero-products-button" href="#products">Products</button>
      <a href="" class="hero-instruction-link">How it`s made?</a>
      <!-- image + text-arrow -->
      <div class="image-and-text-arrow">
         <img src="./images/hero-trio-ice.webp" alt="many tasty ice-cream" width="152" height="152">
         <div class="text-arrow">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et</p>
            <img src="./images/hero-trio-ice.webp" alt="SVG" width="40">
         </div>
      </div>
      <!-- це буде position-absolute відносно hero-контейнера-->
      <div class="cafes-and-food-trucks">
         <div class="cafes-box">
            <p class="hero-numbers">16</p>
            <p class="hero-numbers-title">cafes</p>
         </div>
         <div class="food-trucks-box">
            <p class="hero-numbers">23</p>
            <p class="hero-numbers-title">food trucks</p>
         </div>
      </div>
      <!-- від media 480px ця картинка стане абсолютом -->
      <img class="hero-trio-ice-image" src="./images/hero-trio-ice.webp" alt="Ice cream in a waffle cup">
   </div>
</section>