<section class="hero">
   <div class="hero-container container">
      <h1 class="hero-title">ice cream
         made with
         <span class="hero-title-passion">passion</span>
      </h1>
      <div class="button-and-instructin">
         <button class="hero-products-button">Products</button>
         <a href="" class="hero-instruction-link">How it`s made?</a>
      </div>
      <div class="image-and-text-arrow">
         <img src="./images/customer-1.jpg" alt="many tasty ice-cream">
         <div class="text-arrow">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et</p>
            <img src="./images/customer-1.jpg" alt="SVG">
         </div>
      </div>

      <!-- це буде position-absolute відносно hero-контейнера-->
      <div class="cafes-and-trucks">
         <p class="cafes">16</p>
         <p class="trucks">23</p>
      </div>
   </div>
</section>