<div class="modal-franchise">
    <button class="button-modal-close">
        <svg class="svg-modal-close">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <div class="modal-five">
    <h2 class="modal-header">Thank you for your interest in owning an Ice Cream shop</h2>
    <p class="modals-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once
        the application process resumes, we will contact you for further information. Please fill out the contact
        information
        below and we will reach out for additional information. We appreciate your patience.</p>
    <form class="modal-form">
        <label class="franchise-name" for="name">
            <input class="modal-input" name="name" id="name" type="text" placeholder="Name" required>
        </label>
        <label class="franchise-tel" for="phone">
            <input class="modal-input" name="tel" id="phone" type="tel" placeholder="Phone" required>
        </label>
        <label class="franchise-email" for="email">
            <input class="modal-input" name="email" id="email" type="email" placeholder="Email" required>
        </label>
        <label class="franchise-comment" for="comment">
            <textarea class="modal-input" name="comment" id="comment" placeholder="Comment" rows="5"></textarea>
        </label>
        <div class="button-modal">
        <button class="modal-form-button" type="submit"><span class="">Sumbit</span></button>
        </div>
    </form>
    </div>
</div>