<section class="products" id="products">
    <div class="container">
        <p class="products-label">100% natural</p>
        <h2 class="products-title">products</h2>
        <ul class="products-cards">
            <li class="products-card products-card-first">
                <div class="products-card-content products-card-content-first">
                    <div class="products-card-text">
                        <h3 class="products-card-title">ice cream</h3>
                        <p class="products-card-desc">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                            natural stabilizer</p>
                    </div>
                    <button type="button" class="products-card-btn js-open-modal" data-modal="1">
                        <svg width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-card products-card-second">
                <div class="products-card-content products-card-content-second">
                    <div class="products-card-text">
                        <h3 class="products-card-title">ice coffee</h3>
                        <p class="products-card-desc">
                            Fragrant invigorating drink created from 100% natural ingredients without
                            the use of preservatives and flavor enhancers
                        </p>
                    </div>
                    <button type="button" class="products-card-btn js-open-modal" data-modal="1">
                        <svg width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-card products-card-third">
                <div class="products-card-content products-card-content-thirt">
                    <div class="products-card-text">
                        <h3 class="products-card-title">milkshakes</h3>
                        <p class="products-card-desc">
                            Sweet drinks based on milk and ice cream, supplemented with syrups,
                            fruits, berries and other sweets of your choice
                        </p>
                    </div>
                    <button type="button" class="products-card-btn js-open-modal" data-modal="1">
                        <svg width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>